.navbar{
    background-color: var(--theme);
    padding:1rem 1.5rem;
    position: sticky;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color:var(--white);
    font-weight: 500;
    font-size: 1.2rem;
    margin:0;
}

.log-out{
    color:var(--white);
    margin-right: 5%;
    cursor: pointer;
    opacity: 0.8;
}

.log-out:hover{
    opacity: 1;
    transition: all 0.5s;
}